[submodule "projects/aws-backup-manager"]
  path = projects/aws-backup-manager
  url = git@github.com:robinrob/aws-backup-manager.git
  branch = master
[submodule "projects/bitbucket"]
  path = projects/bitbucket
  url = git@github.com:robinrob/bitbucket.git
  branch = master
[submodule "projects/github"]
  path = projects/github
  url = git@github.com:robinrob/github
[submodule "projects/heroku-s3-backup"]
  path = projects/heroku-s3-backup
  url = git@github.com:robinrob/heroku-s3-backup.git
[submodule "projects/kitchenplan"]
  path = projects/kitchenplan
  url = git@github.com:robinrob/kitchenplan.git
  branch = master
[submodule "projects/local"]
  path = projects/local
  url = git@github.com:robinrob/local.git
[submodule "projects/quiz"]
  path = projects/quiz
  url = git@github.com:robinrob/quiz.git
  branch = master
[submodule "projects/rails4-bootstrap3"]
  path = projects/rails4-bootstrap3
  url = git@github.com:robinrob/rails-bootstrap.git
[submodule "projects/rakelib"]
  path = projects/rakelib
  url = git@github.com:robinrob/rakelib.git
[submodule "projects/robinrob.github.io"]
  path = projects/robinrob.github.io
  url = git@github.com:robinrob/robinrob.github.io.git
[submodule "rakelib"]
  path = rakelib
  url = git@github.com:robinrob/rakelib.git
