[submodule "projects/bitbucket"]
	path = projects/bitbucket
	url = git@bitbucket.org:robinrob/bitbucket.git
	branch = master
[submodule "projects/last"]
	path = projects/last
	url = git@bitbucket.org:robinrob/last.git
	branch = master
[submodule "projects/mrrobinsmith.com"]
	path = projects/mrrobinsmith.com
	url = git@bitbucket.org:robinrob/mrrobinsmith.com.git
	branch = master
[submodule "projects/rbpassword"]
	path = projects/rbpassword
	url = git@bitbucket.org:robinrob/rbpassword.git
	branch = master
[submodule "projects/ruby-app"]
	path = projects/ruby-app
	url = git@bitbucket.org:robinrob/ruby-app.git
	branch = master
[submodule "projects/quiz"]
	path = projects/quiz
	url = git@bitbucket.org:robinrob/quiz.git
	branch = master
[submodule "projects/rakefile"]
	path = projects/rakefile
	url = git@bitbucket.org:robinrob/rakefile.git
	branch = master
[submodule "projects/rcsv"]
	path = projects/rcsv
	url = git@bitbucket.org:robinrob/rcsv.git
	branch = master
[submodule "projects/aws-backup-manager"]
	path = projects/aws-backup-manager
	url = git@bitbucket.org:robinrob/aws-backup-manager.git
	branch = master
[submodule "rake"]
	path = rake
	url = git@bitbucket.org:robinrob/rakefile.git
	branch = master
[submodule "projects/kitchenplan"]
	path = projects/kitchenplan
	url = git@bitbucket.org:robinrob/kitchenplan.git
	branch = master
[submodule "projects/heroku-s3-backup"]
	path = projects/heroku-s3-backup
	url = git@bitbucket.org:robinrob/heroku-s3-backup.git
[submodule "projects/local"]
	path = projects/local
	url = git@bitbucket.org:robinrob/local.git
[submodule "projects/rails4-bootstrap3"]
	path = projects/rails4-bootstrap3
	url = git@bitbucket.org:robinrob/rails-bootstrap.git
[submodule "projects/projects/local"]
	path = projects/projects/local
	url = git@bitbucket.org:robinrob/local.git
