<p><link rel="stylesheet" type='text/css' href="../css/cv.css"></p>

<h1 class="center">Cloud Developer</h1>

<h1></h1>

<table><thead>
<tr>
<th align="center">MMarkdown WankerMarkdown WankerMarkdown WankerMarkdown WankerMarkdown WankerMarkdown WankerMarkdown WankerMarkdown WankerMarkdown Wankerarkdown Wanker</th>
</tr>
</thead><tbody>
</tbody></table>

<p>I am <strong>highly</strong> creative</p>

<p>I share <strong>knowledge</strong> and <strong>learn</strong></p>

<p>I am <strong>easy to work with</strong></p>

<p><strong>Date of Birth:</strong> 24/06/1987</p>

<p><strong>Tel:</strong> +1 604 403 9325</p>

<p><strong>Email:</strong> <a href="mailto:robin@mrrobinsmith.com">robin@mrrobinsmith.com</a></p>

<p><strong>Website:</strong> <a href="mailto:robin@mrrobinsmith.com">robin@mrrobinsmith.com</a></p>

<p><strong>Address:</strong> 438 Seymour Street, Vancouver, V6B 6H4</p>
